p.form-title{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: black;
    margin-top: 0%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form.login input[type="email"], form.login input[type="password"], form.login input[type="text"], form.login input[type="tel"], form.login input[type="date"], form.login input[type="number"], .input-group-text.myAppend
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #5E5956;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: black;
    outline: 0;
}
form.login textarea {
	width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border: 1px solid #5E5956;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: black;
    outline: 0;
}
form.login select {
	border: 1px solid #5E5956;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
form.login label
{
    font-size: 15px;
    font-weight: 400;
    color: black;
}

.error {
	color: red;
	font-style: italic;
	font-family: 'Open Sans' , sans-serif;
}
.container.my-container {
	margin-right: 70px;
	margin-left: 70px;
}
.row {
	padding-right:0px;
	margin-left: 0px;
	margin-right: 0px;
}
.row.header-sfondo {
	height:250px;
}
.header-sfondo {
	background-image: url("/header-sfondo1.jpg");
	background-repeat: no-repeat;
	
	background-size: cover;
}
.title-header {
	font-variant: small-caps;
	font-family: "Bahnschrift Light Condensed", Bahnschrift, serif;
	color: white;
	font-size: 500%;
	padding-left:20px;
}
.divisoreNav {
	margin-top:0px;			

}
footer {
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
  	padding:20px 40px;
  	border-top: 1px solid #d4d4d4;
	text-align:right;
	font-size:11px;
	background-color:white;
	max-width: 1219px;
}

footer a{
  	text-decoration:none;
  	color:#5E5956;
}

footer #privacy {
  	float:right;
}
.log {
	
	padding-right:10px;
}
.col-md-1.log {
	position:absolute;
	right:10px;
}
.nav-link.active {
	color:black;
	font-weight: 500;
}
.nav-link.active:hover {
	color:black;
}
.myBtnLink {
	padding: 0rem .75rem;
	color:#5E5956;
}
.myDelLink {
	padding:0px;
	color:#5E5956;
}
.nav-link{
	color:#5E5956;
	font-size: 16px; 
}
.nav-link:hover,  .myBtnLink:hover, .myDelLink:hover {
	transition: color 0.5s ease;
	color:#d3d3d3;
}
.nav-link.myLink {
	padding-left:0px;
}
.btn.nav-btn {
	margin-top:.5rem;
}
.lead.myLead {
	margin-bottom:0px;
}
form.login input.my-input-group {
	width:80%
}
.myCol {
	padding-left:0px;
}
.pageTitle {
	font-variant: small-caps;
}
.lead {
	margin-bottom:1px;
}
.lead.myLead {
	margin-bottom:0px;
	font-size: 15px;
}
.subtitle {
	font-size:1.50rem;
}